.home-container {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    grid-column-gap: 30px;
    padding: 20px 50px;
  }
  .about {
    max-width: 350px;
  }
 .holeleft{
  border: 0.1px solid rgb(0,0,0,0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); 
  border-radius: 8px;
 }